torch~=2.0
numpy~=1.25
matplotlib~=3.7
seaborn~=0.12
configargparse~=1.7
torchinfo~=1.8
pyyaml~=6.0
pandas~=2.0
codetiming~=1.4
shapely~=2.0
blitz-bayesian-pytorch~=0.2
scipy~=1.11
torchvision~=0.15
tabulate~=0.9
pillow~=9.5
imageio~=2.31
imageio-ffmpeg~=0.4
torchsampler~=0.1
pyntfy~=0.2
ltspice~=1.0
torchmetrics~=0.11
blitz~=0.3
Jinja2~=3.1