torch~=2.0
numpy~=1.25
matplotlib~=3.7
seaborn~=0.12
configargparse~=1.5
torchinfo~=1.8
pyyaml~=6.0
pandas~=2.0
codetiming~=1.4
shapely~=2.0
blitz-bayesian-pytorch~=0.2
scipy~=1.11
torchvision~=0.15
tabulate~=0.9
pillow~=9.5
imageio~=2.31
imageio-ffmpeg~=0.4
torchsampler~=0.1.2
torch==2.0.0+cu118
torchvision==0.15.1+cu118

# If there is a problem with the installation of torch 2.0.0+cu118 and torchvision 0.15.1+cu118 ;
# Use: python -m pip install [package] -f [link]
# Example:
# python -m pip install torch -f https://download.pytorch.org/whl/cu118/torch-2.0.0%2Bcu118-cp39-cp39-win_amd64.whl
# python -m pip install torchvision -f https://download.pytorch.org/whl/cu118/torchvision-0.15.1%2Bcu118-cp39-cp39-win_amd64.whl

# Link:
# https://download.pytorch.org/whl/torch_stable.html (for all package)
# https://download.pytorch.org/whl/cu118/torch-2.0.0%2Bcu118-cp39-cp39-win_amd64.whl (torch)
# https://download.pytorch.org/whl/cu118/torchvision-0.15.1%2Bcu118-cp39-cp39-win_amd64.whl (torchvision)

# For python 3.10:
# pip3 install --pre torch torchvision torchaudio --index-url https://download.pytorch.org/whl/nightly/cu121